<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My pickup-calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-pickup-call-card status="hold" updateAt="25/04/2021 16:29" createdAt="24/05/21 " notes="we have two bags that are full, one with palstic amd another with metals"></app-pickup-call-card>

  <app-pickup-call-card status="processing" updateAt="24/04/2021 16:29" createdAt="23/05/21 " notes="we have two bags that are full"></app-pickup-call-card>

  <app-pickup-call-card status="finished" updateAt="23/04/2021 16:29" createdAt="22/05/21 " value="$ 10,00"></app-pickup-call-card>

</ion-content>
