<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Pickup-call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../../assets/google-placeholder.png" alt="">
  <ion-card>
    <ion-card-content>
      <p>Address: fake stree 111</p>
      <p>complemtn apt 112:</p>
      <p>neighbour hood negherffdf</p>
      <p>Address: fake stree 111</p>
      <p>city name :state</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
 <ion-button color="success" size="full" (click)="newPickupCall()"> Create piclup call</ion-button>
</ion-content>
