<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Reciclica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list color="success">
    <ion-item color="success">
      <ion-avatar slot="start">
        <img src="../../../assets/avaetar.png" alt=""/>
      </ion-avatar>
      <ion-label>
        <h1>Paulo Alves</h1>
        <p>Gatthered: <span class="money">$15,00</span></p>
      </ion-label>
    </ion-item>
   </ion-list>

   <app-pickup-call-card status="hold" updateAt="25/04/2021 16:29" createdAt="24/05/21 " notes="we have two bags that are full, one with palstic amd another with metals">
    <ion-card-header header>
      <ion-card-subtitle>Last Pickup call</ion-card-subtitle>
     </ion-card-header>
     <ion-button color="success" fill="clear" size="full" footer (click)="goToPickupCalls()">see all..</ion-button>
   </app-pickup-call-card>

   <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="newPickupCalls()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
